* {
  border: 2px solid black;
}

table {
  border: 2px solid black;
  width: 65%;
  margin: 50px;
  text-align: center;
  border-collapse: collapse;
}
td {
  border: 2px solid black;
  width: 20%;
  vertical-align: middle;
  padding: 20px;
  background-color: #AAA;
}
body {
  border: 3px solid red;
  width: 100%;
  margin: auto;
}
.lien {
  text-decoration: none;
  color: black;
}
caption {
  caption-side: bottom;
}
hr {
  width: 80%;
  margin: auto;
  align-items: center;
}
thead td {
  font-size: 2em;
  background-color: blue;
  color: red
}
tfoot {
  font-size: 0.8em;
}
tbody {
  text-decoration: none;
}
img {
  margin: 100px;
}
